span{
    font-family: 'Asap',sans-serif;
    color: #c0c4ce;
    opacity: 100%;
}
.span{
    color:#e3646e;
    font-size: 1.5rem;
    font-weight: 600;
}
h1{
font-family: 'Asap',sans-serif;
color: white;
font-size: 5rem;
margin-bottom: 3rem;
}
.p{
    font-family: 'Asap',sans-serif;
    color: #878ea1;
    opacity: 100%;
    font-size: 1.5rem;
}
.text-wrapper{
    font-family: 'Asap',sans-serif;
    color: #878ea1;
    opacity: 100%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.text-wrapper-3{
    font-family: 'Asap',sans-serif;
    color: #878ea1;
    opacity: 100%;
    font-size: 1.5rem;
}