*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro {
    
}
.projeto {
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Garante que cubra toda a tela */
}